# GCP
project_id=
bucket_name=
dataset=
SERVICE_ACCOUNT_FILENAME=
dbt_dataset_name=dbt_${dataset}
region=us-central1
location=US
zone_id=c

# Script
mock_data_subfolder=generated_data
stream_data_subfolder=stream_data
config_data_subfolder=config_data
python_data_subfolder=python
num_prod_examples=2000
num_store_examples=1000

# Airflow
PYTHONPATH=/opt/airflow/dags
DBT_CWD=/opt/airflow/dags/dbt/retail
DBT_DATASET=${dbt_dataset_name}
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/${SERVICE_ACCOUNT_FILENAME}
HOST_GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/${SERVICE_ACCOUNT_FILENAME}
GOOGLE_CONN_ID=google_cloud_default

# Terraform
TF_VAR_GCP_PROJECT_ID=$project_id
TF_VAR_GCP_REGION=$region
TF_VAR_GCP_BUCKET_NAME=$bucket_name
TF_VAR_LOCAL_SERVICE_ACCOUNT_FILE_PATH=$HOST_GOOGLE_APPLICATION_CREDENTIALS

# export the TF_VAR variables
export TF_VAR_GCP_PROJECT_ID TF_VAR_GCP_REGION TF_VAR_GCP_BUCKET_NAME TF_VAR_LOCAL_SERVICE_ACCOUNT_FILE_PATH