# GCP
project_id=
region=us-central1
location=US
zone_id=c

# Script
mock_data_subfolder=generated_data
stream_data_subfolder=stream_data
config_data_subfolder=config_data
python_data_subfolder=python
num_prod_examples=2_000
num_store_examples=1_000

# Airflow
SERVICE_ACCOUNT_FILENAME=
PYTHONPATH=/opt/airflow/dags
DBT_CWD=/opt/airflow/dags/dbt/retail
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/${SERVICE_ACCOUNT_FILENAME}
HOST_GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/${SERVICE_ACCOUNT_FILENAME}
GOOGLE_CONN_ID=google_cloud_default